

form {
    margin-bottom: 15px;
    margin-top: 25px;
}
h2 {
    margin-bottom: 30px;
    color: rgb(145, 55, 55);
}
h1{
    background-image: url('images/crepe-1.jpeg');
    height: 200px;
    background-size: cover;
    background-position-y: 60%;
    padding-top: 60px;
    color: white;
    text-shadow: rgb(124, 103, 19) 1px 0 10px;
    text-transform: uppercase;
    
}
.error {
    padding: 8px;
}